{% extends "base.html" %}

{% block title %}Create entry{% endblock %}

            {% block extra_header %}{% endblock %}

{% block content_title %}Create entry{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

<!--     -->

      <div class="panel-body">
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id='msg' class='text-center col-centered'></h1>
        <h1 class="modal-title" id='time' class='text-center'></h1>
        <h1 class="modal-title" id='alert' class='text-center'></h1>
        <h2 id="result"></h2>
</div>
<!-- <div class="modal-body"> -->

<div id = "myAlert" class = "page-header">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Nice work - you're done!</strong>
</div>

<!-- <div id = "myAlert-fail" class = "alert alert-danger">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Enter a note!</strong>
</div> -->
<div class="panel panel-default">
  <div class="panel-body col-xs-8">
            <label for='work'>Flow timer (min): </label>
          <input autofocus id='work' type='text' min=0 max=200 value='25' >
  <div class="btn-group" role="group" >
      <button id='start' class='btn btn-primary center-block'>
<span class="glyphicon glyphicon-record">
      </button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause
<!-- <span class="glyphicon glyphicon-pause"> -->
      </button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>
    </div><!--Row Closer-->
  </div>

</div>
  </div>
</div>
</div>


<!--   <div class='container-fluid'>
    <div class='col-xs-12'> -->


<div class="container content">
<div class="jumbotron">
<!--   <div class="page-header"> -->
<!--   <h1>Distraqt</h1> -->

   <form action="{{ url_for('create') }}" class="form-horizontal" method="post">
        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary pull-right" id="saveEntry" type="submit">Save it!&nbsp;
        <span class="glyphicon glyphicon-plus">
        </button>
        <a class="btn btn-default pull-right" href="{{ url_for('index') }}">Cancel</a>
  <div class="container-fluid">
    <div class="form-group">
<!--       <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox"> -->
          <label id="checkbox">
            <input name="published" type="checkbox" value="y">Publish
          </label>
            </div>
  
        

    <div class="form-group">
      <label for="title" class="col-sm-12 control-label"></label>
      <div class="col-sm-10">
        <input class="form-control" id="title" placeholder="What's flowing?" name="title" type="text" value="{{ request.form.get('title', '') }}">
      </div>
    </div>
    <div class="form-group">
      <label for="Content" class="col-sm-12 control-label"></label>
      <div class="col-sm-10">
        <textarea class="form-control" id="content" placeholder="Enter notes here..." name="content" style="height: 300px;">{{ request.form.get('content', '') }}</textarea>
<!--     <div class="form-group">
      <label for="category" class="col-sm-2 control-label">Category</label>
      <div class="col-sm-10">
        <input class="form-control" id="category" placeholder="Category" name="title" type="text" value="{{ request.form.get('title', '') }}"> -->
      </div>
    </div>

      </div>
    </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
  </div>
    </div>

{% endblock %}